//* COULEUR DE BASE *//

$grisfonce: #d1d1d1;
$grisclair: #d1d1d160;
$rouge: #e7e7e7;
$blanc: #ffff;

//* PREMIER ECRAN *//

header{
    height: 100vh;
    background-color: $grisfonce;
}

.liste{
    padding-top: 10%;
}

.list-group-item{
    width: 300px;
    margin: auto;
}

.display-1{
    color: $blanc;
}
.display-4{
    color: $blanc;
}

//* FIN PREMIER ECRAN *//////////////////////////////////


//* DEUXIEME ECRAN *//

.slider{
    height: 100vh;
    background-color: $blanc;
}
.bd-example{
    height: 400px;
    width: 650px;
    margin: auto;
    padding-top: 12%;
}

//* FIN DEUXIEME ECRAN *//////////////////////////////////


//* DERNIER ECRAN *//

.jeux{
    background-color: $rouge;
}

.cards{
    display: flex;
    padding-top: 2%;
}

.card{
    margin: 0 26px 0 0px;
    .card-text{
        font-size: 9px;
    }
    .card-title{
        font-size: 16px;
    }

}

//* FIN DERNIER ECRAN *//////////////////////////////////