//* COULEUR DE BASE *//

$grisfonce: #d1d1d1;
$grisclair: #d1d1d160;
$rouge: #e7e7e7;
$blanc: #ffff;

//* PREMIER ECRAN *//

.p-vote{
    font-weight: bold;
    margin-bottom: 2px;
}


header{
    height: 100vh;
    background-color: black;
}

.liste{
    padding-top: 10%;
}

.list-group-item{
    width: 300px;
    margin: auto;
}

.display-1{
    color: $blanc;
}
.display-4{
    color: $blanc;
}

.premier{
  img{
    position: relative;
    margin-left: 5%;
  }
}
.btn-fond{
  position: absolute;
  margin-left: 35%;
  margin-top: -10%;
}


//* FIN PREMIER ECRAN *//////////////////////////////////


//* DEUXIEME ECRAN *//

.slider{
    height: 100vh;
    background-color: $blanc;
}
.bd-example{
    height: 400px;
    width: 650px;
    margin: auto;
    padding-top: 12%;
}

//* FIN DEUXIEME ECRAN *//////////////////////////////////


//* DERNIER ECRAN *//

.jeux{
    background-color: black;
    padding-bottom: 40px;
}

.cards{
    display: flex;
    padding-top: 2%;
    justify-content: center;

}

.card{
    margin: 0 26px 0 0px;
    
    .card-title{
        font-size: 16px;
        text-align: center;
    }
    .card-body{
      text-align: center;
      justify-content: center;
    }

}

//* FIN DERNIER ECRAN *//////////////////////////////////


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }



  /* The Modal (background) */
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content1 {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close1:hover,
  .close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
